<h1>All Surgeries</h1>


<% @surgeries.each do |surgery| %>
  <section id="surgery-#{surgery.id}">
    <%= link_to surgery.title, surgery_path(surgery) %> |
    <%= surgery.week_day.titleize %> | Room: <%= surgery.operating_room %><br>
  </section>
<% end %>
